<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <appSettings>
      <add key="urlBase" value="https://app.yodiz.com/api/rest/v1/"/>
      <add key="email" value=""/>
      <add key="password" value=""/>
      <add key="apiKey" value="b8adbf85-df3c-4d51-90d2-643cf2e422c3"/>
    </appSettings>
</configuration>
